# Part 2

In [ ]:
import pandas as pd

In [ ]:
dFrame = pd.read_csv("main.csv")
dFrame["dateTime"] = pd.to_datetime(dFrame["endTime"])
dFrame

dFrame.sort_values('dateTime', inplace=True)

# Calculate time difference between each row
dFrame['time_difference'] = dFrame['dateTime'].diff()

# Convert time difference to timedelta object
dFrame['time_difference'] = pd.to_timedelta(dFrame['time_difference'])

dFrame

               endTime            dateTime time_difference
0     2023-01-03 04:26 2023-01-03 04:26:00             NaT
1     2023-01-03 17:33 2023-01-03 17:33:00 0 days 13:07:00
2     2023-01-04 01:00 2023-01-04 01:00:00 0 days 07:27:00
3     2023-01-04 01:01 2023-01-04 01:01:00 0 days 00:01:00
4     2023-01-04 01:01 2023-01-04 01:01:00 0 days 00:00:00
...                ...                 ...             ...
3021  2023-04-20 19:26 2023-04-20 19:26:00 0 days 00:01:00
3022  2023-04-20 19:30 2023-04-20 19:30:00 0 days 00:04:00
3023  2023-04-20 19:32 2023-04-20 19:32:00 0 days 00:02:00
3024  2023-04-20 19:35 2023-04-20 19:35:00 0 days 00:03:00
3025  2023-04-20 19:38 2023-04-20 19:38:00 0 days 00:03:00

[3026 rows x 3 columns]

In [ ]:
# find largest time difference
maxValue = dFrame["time_difference"].max()

# find the average time differnce
avgValue = dFrame["time_difference"].mean()

# Print the largest value
print("The largest difference in time is", maxValue)

# Print the average time difference
print("The average difference in time is", avgValue)

The largest difference in time is 11 days 10:27:00
The average difference in time is 0 days 00:51:14.221487603

In [ ]:
# Extracts month from datetime object
dFrame['month'] = dFrame['dateTime'].dt.month

# Find the month with the highest count
month = dFrame['month'].value_counts().idxmax()

# Print the most common month
print("The most common month is:", month)

# Find the ammount of times that month appears in the collumn
count = (dFrame["month"] == month).sum()

# Print the number of times the month appears
print("The month of", month, "appears", count, "times")

The most common month is: 1
The month of 1 appears 1609 times
The most common day is Friday

In [ ]:
dFrame['day'] = dFrame['dateTime'].dt.weekday

day = dFrame['day'].mode().values[0]

# int to day
dayNames = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
dayName = dayNames[day]

print("The most common day is", dayName)

The most common day is Friday

6. What do you think the source of this data is? Write a few sentences explaining your reasoning. What other data might help you verify if you are correct?

- I believe that my partners data is some sort of music streaming service. This is because the average time between time stamps is very low and must be something that is played on a consistant bassis.

7. Exchange your analysis with your partner. Read your partner's analysis -- does it seem accurate? Did they guess the correct data source (or type of data source)?

- Yes. It seems accurate. They guessed the correct source.

8. For the days and months that your partner identified as having the most timestamps, try to figure out what was happening on those days. What other data might help you figure this out?

- The most timestamps were recorded on Fridays. This is likely due to the fact that they perform more mundane tasks on Fridays that would benifit from having music playing in the background. Winter break reaches into the month of January and it is likely that my partner listened to lots of music over break when there wasn't anything going on.

9. What did you learn about yourself and your partner through doing this?

I learned that I watch too much youtube. One thing I would like to know, however, is the difference between what has been watched on youtube as opposed to youtube music. Youtube videos are much longer on average compared to music. A day that has a low amount of timestamps might have a higher amount of time watched than a day with a larger amount of timestamps. 

I also learned that my partner does not have a lot of obligations on Friday and spends a lot of time doing tasks that they do while listening to music.