In [ ]:
import pandas as pd

# Load JSON file
json_file_path = 'spotify.json'
data = pd.read_json(json_file_path)

# Convert JSON data to CSV
csv_file_path = 'output.csv'
data.to_csv(csv_file_path, index=False)

In [10]:
spotify = pd.read_csv("output.csv")
spotify["dateTime"] = pd.to_datetime(spotify["endTime"])
spotify

spotify.sort_values('dateTime', inplace=True)

# Calculate time difference between each row
spotify['time_difference'] = spotify['dateTime'].diff()

# Convert time difference to timedelta object
spotify['time_difference'] = pd.to_timedelta(spotify['time_difference'])

spotify

,endTime,artistName,trackName,msPlayed,dateTime,time_difference
0,2022-03-14 22:45,The Weeknd,Shameless,40751,2022-03-14 22:45:00,NaT
1,2022-03-15 01:09,Guthrie Govan,Beautiful Imperfection,155114,2022-03-15 01:09:00,0 days 02:24:00
2,2022-03-15 01:10,Guthrie Govan,Hollywood Woman,77546,2022-03-15 01:10:00,0 days 00:01:00
3,2022-03-15 01:22,Shane Mesa,Lady Sunshine,10432,2022-03-15 01:22:00,0 days 00:12:00
4,2022-03-15 01:22,Covet,shibuya (feat. San Holo),33621,2022-03-15 01:22:00,0 days 00:00:00
...,...,...,...,...,...,...
9995,2022-06-20 05:32,Bladee,Be Nice 2 Me,6933,2022-06-20 05:32:00,0 days 10:30:00
9997,2022-06-20 05:44,Masayoshi Takanaka,THAT'S THE WAY OF THE WORLD,9557,2022-06-20 05:44:00,0 days 00:12:00
9998,2022-06-20 05:44,Masayoshi Takanaka,OH! TENGO SUERTE,11968,2022-06-20 05:44:00,0 days 00:00:00
9996,2022-06-20 05:44,Masayoshi Takanaka,MAMBO JAMBO,5653,2022-06-20 05:44:00,0 days 00:00:00
9999,2022-06-20 05:44,Masayoshi Takanaka,RAINBOW,13034,2022-06-20 05:44:00,0 days 00:00:00

In [9]:
#find largest time difference
maxValue = spotify["time_difference"].max()

#find the average time differnce
avgValue = spotify["time_difference"].mean()

#Print the largest value
print("The largest difference in time is", maxValue)

#Print the average time difference
print("The average difference in time is", avgValue)

The largest difference in time is 2 days 20:22:00
The average difference in time is 0 days 00:14:00.678067806

In [13]:
#Extracts month from datetime object
spotify['month'] = spotify['dateTime'].dt.month

#Find the month with the highest count
month = spotify['month'].value_counts().idxmax()

#Print the most common month
print("The most common month is:", month)

#Find the ammount of times that month appears in the collumn
count = (spotify["month"] == month).sum()

#Print the number of times the month appears
print("The month of", month, "appears", count, "times")

The most common month is: 4

,endTime,artistName,trackName,msPlayed,dateTime,time_difference,month
0,2022-03-14 22:45,The Weeknd,Shameless,40751,2022-03-14 22:45:00,NaT,3
1,2022-03-15 01:09,Guthrie Govan,Beautiful Imperfection,155114,2022-03-15 01:09:00,0 days 02:24:00,3
2,2022-03-15 01:10,Guthrie Govan,Hollywood Woman,77546,2022-03-15 01:10:00,0 days 00:01:00,3
3,2022-03-15 01:22,Shane Mesa,Lady Sunshine,10432,2022-03-15 01:22:00,0 days 00:12:00,3
4,2022-03-15 01:22,Covet,shibuya (feat. San Holo),33621,2022-03-15 01:22:00,0 days 00:00:00,3
...,...,...,...,...,...,...,...
9995,2022-06-20 05:32,Bladee,Be Nice 2 Me,6933,2022-06-20 05:32:00,0 days 10:30:00,6
9997,2022-06-20 05:44,Masayoshi Takanaka,THAT'S THE WAY OF THE WORLD,9557,2022-06-20 05:44:00,0 days 00:12:00,6
9998,2022-06-20 05:44,Masayoshi Takanaka,OH! TENGO SUERTE,11968,2022-06-20 05:44:00,0 days 00:00:00,6
9996,2022-06-20 05:44,Masayoshi Takanaka,MAMBO JAMBO,5653,2022-06-20 05:44:00,0 days 00:00:00,6
9999,2022-06-20 05:44,Masayoshi Takanaka,RAINBOW,13034,2022-06-20 05:44:00,0 days 00:00:00,6